
.title h2{
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;

}
.to-do{
  padding: 50px;
  border: 1px solid #28b0da;
  display: flex;
  flex-direction: column;
}
.to-do ul li{  
  width: 100%;
  overflow-wrap: break-word ;
  list-style-type:"✨" ;
  cursor: pointer;
}
li{
  list-style: none;
  border-bottom: 1px solid #ddd;
  margin: 5px;
}
.control{
  padding-top: 20px;
}
.btn-all{
  width: 100%;
}
.done{
  text-decoration: line-through;
  color: #777777a1;
}
.del{
  cursor: pointer;
  padding: 0px 5px;
  width: 50px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}